body{
background-color: rgb(80, 80, 80);
}
div{
border-collapse:collapse;
border-radius:5px;
}
div.header{
border: 5 px solid grey;
background-color: rgb(144, 144, 144);
text-align: center;
float: center;
border-collapse: collapse;
width:90%;
height:100px;
border-radius: 5px;
position: static;
}
#day_of{
float:left;
height:115px;
margin: 7px 222px;
padding: 4px 0px;
width: 436px;
}	
#loupe{
float: center;
}
#reload{
float:right;
margin: 39px 8px;
padding: 9px 10px;
}